<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">{{ title }}</h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/accounts" class="m-nav__link m-nav__link--icon"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item" *ngFor="let crumb of crumbs; let last = last">
          <a *ngIf="!last" [routerLink]="crumb.url" class="m-nav__link"><span class="m-nav__link-text">{{ crumb.label }}</span></a>
          <span *ngIf="last" class="m-nav__link"><span class="m-nav__link-text">{{ crumb.label }}</span></span>
          <span *ngIf="!last" class="m-nav__separator">-</span>
        </li>
      </ul>
    </div>
  </div>
</div>
